@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #3497DB;
}
#box{
    background: #fff;
    width: 50rem;
    border-radius: 0.6rem;
    
    box-shadow: 3px 1px 10px rgb(58, 56, 56);
}
h1{
    text-align: center;
    padding: 2rem;
    font-size: 1.7rem;
}
#option_box{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
    padding: 1rem 2rem;
}
.row{
    display: flex;
    gap:1rem;
}

#btn{
    background-color: #c92a2a;
    cursor: pointer;
    color: #fff;
    border: none;
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius:0 0 0.6rem 0.6rem;
    transition: 1s;
}

#btn:hover{
    
    background-color: #da3e3e;
}
